<div class="container">
	<h3 class="text-center"> About GiftGuru </h3>

	<p>We are new e–commerce shop for those of you, who don't have time or any idea where to get that special gift for family member, friend, or even a complete stranger.</p> 
	<p>There are so many good reasons why you should shop on-line at our shop but what sets us apart from others is our story, innovation, vision and hope to actually help people by saving their time, money and reducing stress.</p>
	<p>Driven by our passion to make a difference in people's lives and to empower them to be the best they can be. We wish to make gift giving as convenient as possible, is at the heart of everything we do, no matter what the occasion.</p>
	<p>Our gifts come in all shapes and sizes, flavors, and denominations and we seek reaction for every gifts that “wows” someone, gifts that never get thrown away, are never left to decay in a hall closet, and are never re-gifted to someone on the other side of the family.</p>
	<p>Whether you need a Christmas, Wedding, Congratulations, New Baby, Birthday Gift or surprise that person, you secretly admire - just name it we have it all, and of course we deliver gifts around the corner or around whole Ireland!</p> 
	<p>So come visit our site, browse and order that perfect gift today without much of hassle! Don't hesitate to get in touch via our Contact Page if have any questions, comments or feedback for us - we'd love to hear from you!</p>
	<p class="center"><img src="assets/admin.jpg" alt="Item" height="50%" width="60%"></p>
</div>
	